.resources {
  display: flex !important;
  flex-wrap: wrap;
  margin-right: -20px;
  > div {
     width: calc(33% - 20px);
     margin-right: 20px;
  }
}

$gwred: rgb(227,25,55);
$gwyellow: rgb(255,200,46);
$gwlightgreen: rgb(122,193,67);
$gwdarkgreen: rgb(0,131,103);
$gwlightblue: rgb(0,150,214);
$gwdarkblue: rgb(0,64,101);

$gwcolors: rgb(227,25,55) rgb(255,200,46) rgb(122,193,67) rgb(0,131,103) rgb(0,150,214) rgb(0,64,101);
@for $i from 1 through length($gwcolors) {
  .resource-weight-#{$i - 1} + div h1, 
  [data-weight='#{$i - 1}'] .resource-title, 
  [data-weight='#{$i - 1 + length($gwcolors)}'] .resource-title, 
  [data-weight='#{$i - 1 + length($gwcolors) * 2}'] .resource-title, 
  [data-weight='#{$i - 1 + length($gwcolors) * 3}'] .resource-title, 
  {
    background-image: linear-gradient(to right, rgba(nth($gwcolors, $i),.8), rgba(nth($gwcolors, $i),.1));
  }
}
