.fellowship-details {
  width: 100%;
  margin: 0 0 1em;
  padding: 1em;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
@media screen and (min-width: 550px) {
  .fellowship-details {
    width: 50%;
    float: right;
    margin-left: 2em;
  }
}
@media screen and (min-width: 800px) {
  .fellowship-details {
    width: 33%;
  }
}
.fellowship-details legend {
  display: none;
}

/*
@media screen and (min-width: 550px) {
  .fellowship-details {
    width: 50%;
    float: right;
    margin-left: 2em;
  }
}
@media screen and (min-width: 800px) {
  .fellowship-details {
    width: 33%;
  }
}

.fellowship-details legend {
  display: none;
}
*/
.container .content div {
  display: block;
}

/* 
  CSS for the areas dedicated to filtering and searching fellowships
*/
.find-fellowships {
  /* Class name based on CSS class applied in the 'Fellowships Searching' View block) */
  margin-top: 2em;
}
.find-fellowships form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.find-fellowships form fieldset {
  order: 5;
  border: 1px solid #ccc;
  position: relative;
  margin-right: 15px;
}
.find-fellowships form fieldset legend {
  margin: 0;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  float: left;
  width: 100%;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #f9f9f9;
  background-color: #f9f9f9;
}
.find-fellowships form fieldset legend:after {
  content: "";
  /* CSS triangle */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10.4px 6px 0 6px;
  border-color: #e8e8e8 transparent transparent transparent;
  margin-left: 0.25em;
  display: inline-block;
  /* Border around CSS triangle */
  filter: drop-shadow(-0.5px -1px 0 #666) drop-shadow(0.5px 0 0 #666) drop-shadow(0 1px 0 #666);
}
.find-fellowships form fieldset legend .foo::-ms-backdrop, .find-fellowships form fieldset legend:after {
  /* IE11 hack since "filter:" above doesn't work there, though need to check if Edge sees this too */
  border-color: #777 transparent transparent transparent;
}
.find-fellowships form fieldset.checked-children legend:after {
  content: "(" attr(data-checked-children-quantity) ")";
  margin-left: 0;
  color: #0073aa;
  /* the following to "undo" the CSS triangle */
  border-style: none;
  display: inline;
  filter: none;
}
.find-fellowships form fieldset .fieldset-wrapper {
  padding: 1em;
  border: 1px solid #ccc;
  position: absolute;
  left: -1px;
  top: calc(100% - 1px);
  background-color: #f9f9f9;
  min-width: 300px;
  display: none;
}
.find-fellowships form fieldset.checked-children, .find-fellowships form fieldset.checked-children .fieldset-wrapper {
  border: 1px solid #0073aa;
}
.find-fellowships form fieldset.checked-children:not(:hover) legend {
  background-image: linear-gradient(to right, rgba(0, 115, 170, 0.05), rgba(0, 115, 170, 0.05));
}
.find-fellowships form fieldset:hover, .find-fellowships form fieldset:focus, .find-fellowships form fieldset.focused-child {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.find-fellowships form fieldset:hover legend, .find-fellowships form fieldset:focus legend, .find-fellowships form fieldset.focused-child legend {
  z-index: 4;
}
.find-fellowships form fieldset:hover .fieldset-wrapper, .find-fellowships form fieldset:focus .fieldset-wrapper, .find-fellowships form fieldset.focused-child .fieldset-wrapper {
  display: block;
  z-index: 3;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.find-fellowships form > .js-form-type-textfield {
  /* Search box */
  order: 1;
  white-space: nowrap;
  margin-right: 1em;
  margin-bottom: 1em;
}
.find-fellowships form .form-actions {
  /* Search submit button */
  order: 2;
  flex: 1;
  margin-bottom: 1em;
}
.find-fellowships form > .js-form-type-select {
  /* Sort dropdown */
  order: 3;
  margin-left: auto;
}
.find-fellowships form:before {
  content: "";
  width: 100%;
  order: 4;
}

.find-fellowships .fieldset-wrapper .form-item {
  padding-left: calc(30px + .5em);
  /* :not(:hover) here to avoid the weirdness of getting the outline when clicking instead of tabbing (though realizing it will be there as soon as hovered away from) */
}
.find-fellowships .fieldset-wrapper .form-item input {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  left: -10000px;
  top: auto;
}
.find-fellowships .fieldset-wrapper .form-item label {
  display: block;
  position: relative;
  cursor: pointer;
  margin-left: calc(-30px - .5em);
  padding-left: calc(30px + .5em);
}
.find-fellowships .fieldset-wrapper .form-item label:before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 30px;
  background-color: #ccc;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s;
}
.intersection.find-fellowships .fieldset-wrapper .form-item label:before {
  border-radius: 0;
  width: 20px;
}

.find-fellowships .fieldset-wrapper .form-item label:after {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: all 0.2s;
}
.intersection.find-fellowships .fieldset-wrapper .form-item label:after {
  border-radius: 0;
}

.find-fellowships .fieldset-wrapper .form-item input:checked + label:before {
  background-color: #0073aa;
  transition: all 0.2s;
}
.find-fellowships .fieldset-wrapper .form-item input:checked + label:after {
  left: 12px;
  transition: all 0.2s;
}
.intersection.find-fellowships .fieldset-wrapper .form-item input:checked + label:after {
  left: 6px;
  border: 0 solid #fff;
  border-width: 0 3px 3px 0;
  width: 8px;
  height: 12px;
  transform: rotate(45deg);
  background-color: transparent;
}

.find-fellowships .fieldset-wrapper .form-item input:focus + label:not(:hover) {
  outline: 1px dotted;
}

/*# sourceMappingURL=fellowships.css.map */
