// ========== Global Mixins & Variables
@import "../utilities";

/* On pages for individual fellowships */

.fellowship-details {
  width: 100%;
  margin: 0 0 1em;
  padding: 1em;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-sizing: border-box;

  @media screen and (min-width: 550px) {
    width: 50%;
    float: right;
    margin-left: 2em;
  }
  @media screen and (min-width: 800px) {
    width: 33%;
  }

  legend {
    display: none;
  }

  // These are some fragile selectors, since for some reason the following classes that normally get output aren't: .field, .field__label, .field__items and .field__item
  .fieldset-wrapper > div {
    display: table-row !important;
    & > .field-label {
      display: inline-block;
      display: table-cell;
//      text-align: right;
      font-weight: bold !important; /* !important to override some GW style */
      &:after {
        content: ":";
      }
    }
    & > :not(.field-label) {
      margin-left: .75em;
      padding-bottom: .75em;
    }
    /* Overrides of the above for "GWU Sponsored?" and "GWU Endorsement Required?" fields, which are booleans instead of lists */
    &.fellowship__gwu-sponsored, &.fellowship__gwu-endorsement-required {
      display: block !important;
      margin-top: .5em;
      text-align: right;
      & > div {
        display: inline;
        padding-right: 0;
        margin-left: 0;
        &:after {
          content: "";
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* These are very fragile selectors as well, only put at the moment while we figure out the source of the bug that's preventing regular Drupal classes from getting added to field labels/items */
.fellowship__eligibility-area .field-label, 
.fellowship__period-of-study .field-label, 
.fellowship__award .field-label, 
.fellowship__application .field-label, 
.fellowship__deadline-s- .field-label, 
.fellowship__special-considerations .field-label {
//  font-weight: bold !important; /* !important to override some overreaching styling set in gweverything.css */
  color: $gwdarkblue;
  font-family: "AvenirLT-Heavy",Helvetica,Arial,sans-serif;
  margin: .7em 0 .3em;
  font-size: 1.8em;
  @include mediaMin(500px) {
    font-size: 2.25em;
  }
}

.fellowship .content {
  h2, h3, h4, h5, h6 {
    margin-top: .7em;
  }
}

.container .content div {
    display: block;
}

/* 
  CSS for the areas dedicated to filtering and searching fellowships.
  The .find-fellowships class was either applied in the 'Fellowships Searching' View block, 
  or hard-coded into the FellowshipsFilterController.php output
*/
.find-fellowships {
  margin-top: 1.5em;
  form {
    display: flex;
    flex-wrap: wrap;
    fieldset {
      order: 1;
      border: 1px solid #ccc;
      position: relative;
      margin-right: 15px;
      legend {
        margin: 0;
        padding: .5em 1em;
        font-size: 1em;
        cursor: pointer;
        float: left;
        width: 100%;
        position: relative;
        z-index: 2;
        border-bottom: 1px solid #f9f9f9;
        background-color: #f9f9f9;
        &:after {
          content: "";
          display: inline-block;
          /* CSS triangle */
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10.4px 6px 0 6px;
          border-color: #e8e8e8 transparent transparent transparent;
          margin-left: .25em;
          /* Border around CSS triangle */
          filter: drop-shadow(0 0 .6px #666) drop-shadow(0 0 0 #666) drop-shadow(0 0 0 #666) drop-shadow(0 0 0 #666);
        }
        .foo::-ms-backdrop, &:after { /* IE11 hack since "filter:" above doesn't work there, though need to check if Edge sees this too */
          border-color: #777 transparent transparent transparent;
        }
      }
      &.checked-children legend:after {
        content: "(" attr(data-checked-children-quantity) ")";
        margin-left: 0;
        color: $gwlightblue;
        /* the following to "undo" the CSS triangle */
        border-style: none;
        display: inline;
        filter: none;
      }
      .fieldset-wrapper {
	padding: 1em;
        border: 1px solid #ccc;
        position: absolute;
        left: -1px;
        top: calc(100% - 1px);
        background-color: #f9f9f9;
        min-width: calc(100vw - 32px);
        @include mediaMin(350px) {
          min-width: 300px;
        }
        display: none;
        &.right-align-flyout {
          left: auto;
          right: -1px;
        }
      }
      &.checked-children, &.checked-children .fieldset-wrapper {
          border: 1px solid $gwlightblue;
      }
      &.checked-children:not(:hover) legend {
        background-image: linear-gradient(to right, rgba($gwlightblue,.05), rgba($gwlightblue,.05));
      }
      &:hover, &:focus, &.focused-child {
        box-shadow: 0 0 5px rgba(0,0,0,.2);
        legend {
          z-index: 4;
        }
        .fieldset-wrapper {
          display: block;
          z-index: 3;
          box-shadow: 0 0 5px rgba(0,0,0,.2);
        }
      }
    }
    & > .js-form-type-textfield { /* Search box */
      order: 3;
      margin-right: 1em;
      margin-bottom: 1em;
    }
    & .form-actions { /* Search submit button */
      order: 4;
      flex: 1;
      margin-bottom: 1em;
    }
    & > .js-form-type-select { /* Sort dropdown */
      order: 5;
      margin-left: auto;
    }
    &:before { /* Hack to force "line break" between rows of flex children by setting its "order" group value to be 1 higher than the "row" preceding it */
      content: '';
      width: 100%;
      order: 2;
      margin-bottom: 1em;
    }
  }
}

.find-fellowships .fieldset-wrapper .form-item {
  $inputSize: 20;
  padding-left: calc(#{$inputSize * 1.5}px + .5em);
  input {
    @include hidden-visually;
  }
  label {
    display: block;
    position: relative;
    cursor: pointer;
    margin-left: calc(-#{$inputSize * 1.5}px - .5em);
    padding-left: calc(#{$inputSize * 1.5}px + .5em);
    &:before {
      content: "";
      display: inline-block;
      height: #{$inputSize}px;
      width: #{$inputSize * 1.5}px;
      background-color: #ccc;
      border-radius: #{$inputSize / 2}px;
      position: absolute;
      left: 0;
      top: 0;
      transition: all .2s;
      $uptohere: &;
      @at-root .intersection#{$uptohere} {
        border-radius: 0;
        width: #{$inputSize}px;
      }
    }
    &:after {
      content: "";
      display: inline-block;
      height: #{$inputSize - 4}px;
      width: #{$inputSize - 4}px;
      background-color: #fff;
      border-radius: #{($inputSize - 4) / 2}px;
      position: absolute;
      top: 2px;
      left: 2px;
      transition: all .2s;
      $uptohere: &;
      @at-root .intersection#{$uptohere} {
        border-radius: 0;
      }
    }
  }
  input:checked + label {
    &:before {
      background-color: $gwlightblue;
      transition: all .2s;
    }
    &:after {
      left: #{$inputSize * .5 + 2}px;
      transition: all .2s;
      $uptohere: &;
      @at-root .intersection#{$uptohere} {
        left: 6px;
        border: 0 solid #fff;
        border-width: 0 3px 3px 0;
        width: #{$inputSize * .4}px;
        height: #{$inputSize * .6}px;
        transform: rotate(45deg);
        background-color: transparent;
      }
    }
  }
  /* :not(:hover) here to avoid the weirdness of getting the outline when clicking instead of tabbing (though realizing it will be there as soon as hovered away from) */
  input:focus + label:not(:hover) {
    outline: 1px dotted;
  }
}

/* CSS for the results on the fellowships searching/filtering page */


.find-fellowships .field-content {
  clear: both;
  .fellowships-region {
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    border-radius: 20px;
    background-color: gray;
    background-image: url("/themes/lai/images/fellowship-regions/earth.svg");
    background-repeat: no-repeat;
    background-size: calc(100% - 30px);
    background-position: center;
    float: right;
    margin: 0 0px 20px 20px;
    position: relative;
    &:after {
      position: absolute;
      top: 100%;
      margin-top: .25em;
      content: "Multiple Regions";
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    display: none; /* can undo once we have more time to work on icons and fewer major bugs to work out */
  }
}

// Loop through each region and its associated color in the $regioncolor SASS map.
// For each region construct a selector that looks something like .region1:not(.region2):not(.region3), etc.
// in order to make different colored icons for fellowships that only apply to one region,
// The color for default / any region is set above

$regioncolors: (
  africa: rgb(227,25,55),
  asia: rgb(255,200,46),
  centralam: rgb(122,193,67),
  europe: rgb(0,131,103),
  mideast: rgb(0,150,214),
  northam: rgb(0,64,101),
  southam: rgb(0,0,0),
  dc: rgb(255,255,255)
);

$regions: map-keys($regioncolors);

@for $i from 1 through length($regioncolors) {
  $thisregion: nth($regions, $i);
  $nots: "";
  $thiscolor: "";
  @each $region, $color in $regioncolors {
    @if ($thisregion != $region) {
      $nots: $nots + ":not(." + $region + ")";
    } @else {
      $thiscolor: $color;
    }
  }
  .fellowships-region.#{$thisregion}#{$nots} {
    background-color: $thiscolor;
    &:after {
      content: attr(data-region-name); /* data-region-name set in the View with override results */
    }
    @if ($thisregion == "asia") {
      background-image: url("/themes/lai/images/fellowship-regions/#{$thisregion}.svg");
      background-size: calc(100% - 20px);
      background-color: #c8b18b; /* GW buff */
    }
  }
}

