// ========== Global Mixins & Variables
@import "../utilities";

.path-frontpage #search-block-form {
  margin: 1em;
  display: flex;
  padding: 1em;
  background-image: linear-gradient(to right, rgba($gwlightblue,0), rgba($gwlightblue,.8) 30%, rgba($gwlightblue,.8) 70%, rgba($gwlightblue,0));
  transform: skewX(-40deg);
  & > * {
    transform: skewX(40deg);
  }
  @include mediaMin(600px) {
    background-image: linear-gradient(to right, rgba($gwlightblue,0), rgba($gwlightblue,.8) 40%, rgba($gwlightblue,.8) 60%, rgba($gwlightblue,0));
    margin: 1em 3em 1em;
    padding: 1em 2em;
  }
  @include mediaMin(900px) {
    margin: 1em 8em 2em;
    display: flex;
  }
  div:first-child { /* search input[type=text] wrapper */
    flex-grow: 1;
    margin: 0;
    input {
      padding: .5em;
      width: 100%;
      box-sizing: border-box;
    }
  }
  div:last-child { /* search button wrapper */
     margin-left: .5em;
  }
}

.path-frontpage .block-lai-page-title {
  h1 { 
    clip-path: inset(100%);
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; /* added line */
    width: 1px;
  }
}