// ========== Global Mixins & Variables
@import "../utilities";

.find-peercoaching {
  form {
    display: flex;
    flex-wrap: wrap;
    & > * {
      width: 100%;
    }
  }
  #fieldsetDepartment, #fieldsetCourseNumber {
    width: auto;
    margin-right: 20px;
  }
  #fieldsetCourseNumberInfo {
    margin-top: 1em;
  }
  #pcCourseNumberInfo {
    h3 {
      margin-top: 0;
    }
  }
  #noCourseNumbers {
    margin: 1em 0;
    font-style: italic;
  }
}

#peer-coaching-event-info h2 {
  margin-top: .25em;
}

/* Hack to hide this field when not displayed through the Calendly popup hack
   #content to make things more specific (else some other oddly-specific selector) */
#content .peer_coaching_appointment_rsvp__review-session-info {
  display: none;
}
