/* This is for styling the "buckets" on the homepage and interstitial pages made for the top-level menu items. 
   But some color-related properties are set below this block, since they're processed at the same time as 
   related color handling for the <h1>s on individual resource landing pages. */
.resources {
  display: flex !important;
  flex-wrap: wrap;
}
@media screen and (min-width: 550px) {
  .resources {
    margin-right: -20px;
  }
}
.resources > div {
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 550px) {
  .resources > div {
    width: calc(50% - 20px);
    margin-right: 20px;
  }
}
@media screen and (min-width: 850px) {
  .resources > div {
    width: calc(33.33% - 20px);
  }
}
.resources .resource-bucket {
  cursor: pointer;
}
.resources .resource-photo {
  position: absolute;
  height: 180px;
  width: 100%;
  overflow: hidden;
  top: 0;
}
.resources .resource-photo img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: none;
  width: auto !important;
  /* !importants here to override GW CSS */
  height: auto !important;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}
.resources .resource-title {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.8) 100%);
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 180px;
  width: 100%;
  padding: 0.5em 2.5em 0.5em 1em;
  box-sizing: border-box;
}
.resources .resource-title:before, .resources .resource-title:after {
  content: "";
  display: block;
  position: absolute;
  transform: skew(-20deg);
  width: 300px;
  height: 100%;
  top: 0;
  right: calc(100% - 60px);
  z-index: 2;
}
.resources .resource-title:after {
  right: auto;
  left: calc(100% - 40px);
}
.resources .resource-icon {
  width: 30px;
  margin-left: 2em;
}
.resources .resource-icon img {
  display: inline-block;
  min-width: 30px;
  max-width: 30px;
  max-height: 30px;
}
.resources h2 {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0 0 0 0.3em;
  font-family: "AvenirLTStd-Roman", Helvetica, Arial, sans-serif;
  z-index: 3;
  position: relative;
}
.resources h2 a {
  color: #fff;
  font-family: "AvenirLTStd-Roman", Helvetica, Arial, sans-serif;
}
.resources h2 a:hover {
  text-decoration: none;
}
.resources .resource-teaser {
  margin: 1em 0;
}

/* This is styling for the <h1> title on landing pages for individual resources or services. */
.resource #block-lai-page-title {
  position: relative;
  box-sizing: border-box;
  margin: 1em 0;
  padding-bottom: 1em;
  /* &:after is for the skewed gradient you see behind the header */
}
.resource #block-lai-page-title:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
}
@media screen and (min-width: 1150px) {
  .resource #block-lai-page-title:after {
    left: -25px;
    width: calc(100% + 50px);
    transform: skew(-20deg);
  }
}
.resource #block-lai-page-title h1 {
  font-size: 2.2em;
  padding: 0.3em 0.3em 0.4em;
  position: relative;
  z-index: 2;
  margin: 0;
  display: table-cell;
  /* &:before is for the skewed white area you see on top of the gradient but below the header text */
}
@media screen and (min-width: 600px) {
  .resource #block-lai-page-title h1 {
    font-size: 2.6em;
  }
}
@media screen and (min-width: 800px) {
  .resource #block-lai-page-title h1 {
    font-size: 3em;
  }
}
.resource #block-lai-page-title h1:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -30px;
  width: calc(100% + 35px);
  height: 100%;
  transform: skew(-20deg);
  background-color: #fff;
  z-index: -1;
}
@media screen and (min-width: 800px) {
  .resource #block-lai-page-title h1:before {
    width: calc(100% + 50px);
  }
}

/* The gradient behind the titles on individual resource landing pages */
.resource-weight-0 + #block-lai-page-title:after {
  background-image: linear-gradient(-45deg, #e31937, rgba(227, 25, 55, 0.1));
}

/* The gradients at the sides of each "bucket" on the homepage */
[data-weight="0"] .resource-title:before,
[data-weight="6"] .resource-title:before,
[data-weight="12"] .resource-title:before,
[data-weight="18"] .resource-title:before {
  background-image: linear-gradient(to top, rgba(227, 25, 55, 0.8), rgba(227, 25, 55, 0.1));
}

[data-weight="0"] .resource-title:after,
[data-weight="6"] .resource-title:after,
[data-weight="12"] .resource-title:after,
[data-weight="18"] .resource-title:after {
  background-image: linear-gradient(to bottom, rgba(227, 25, 55, 0.8), rgba(227, 25, 55, 0.1));
}

/* The gradient behind the titles on individual resource landing pages */
.resource-weight-1 + #block-lai-page-title:after {
  background-image: linear-gradient(-45deg, #ffc82e, rgba(255, 200, 46, 0.1));
}

/* The gradients at the sides of each "bucket" on the homepage */
[data-weight="1"] .resource-title:before,
[data-weight="7"] .resource-title:before,
[data-weight="13"] .resource-title:before,
[data-weight="19"] .resource-title:before {
  background-image: linear-gradient(to top, rgba(255, 200, 46, 0.8), rgba(255, 200, 46, 0.1));
}

[data-weight="1"] .resource-title:after,
[data-weight="7"] .resource-title:after,
[data-weight="13"] .resource-title:after,
[data-weight="19"] .resource-title:after {
  background-image: linear-gradient(to bottom, rgba(255, 200, 46, 0.8), rgba(255, 200, 46, 0.1));
}

/* The gradient behind the titles on individual resource landing pages */
.resource-weight-2 + #block-lai-page-title:after {
  background-image: linear-gradient(-45deg, #7ac143, rgba(122, 193, 67, 0.1));
}

/* The gradients at the sides of each "bucket" on the homepage */
[data-weight="2"] .resource-title:before,
[data-weight="8"] .resource-title:before,
[data-weight="14"] .resource-title:before,
[data-weight="20"] .resource-title:before {
  background-image: linear-gradient(to top, rgba(122, 193, 67, 0.8), rgba(122, 193, 67, 0.1));
}

[data-weight="2"] .resource-title:after,
[data-weight="8"] .resource-title:after,
[data-weight="14"] .resource-title:after,
[data-weight="20"] .resource-title:after {
  background-image: linear-gradient(to bottom, rgba(122, 193, 67, 0.8), rgba(122, 193, 67, 0.1));
}

/* The gradient behind the titles on individual resource landing pages */
.resource-weight-3 + #block-lai-page-title:after {
  background-image: linear-gradient(-45deg, #008367, rgba(0, 131, 103, 0.1));
}

/* The gradients at the sides of each "bucket" on the homepage */
[data-weight="3"] .resource-title:before,
[data-weight="9"] .resource-title:before,
[data-weight="15"] .resource-title:before,
[data-weight="21"] .resource-title:before {
  background-image: linear-gradient(to top, rgba(0, 131, 103, 0.8), rgba(0, 131, 103, 0.1));
}

[data-weight="3"] .resource-title:after,
[data-weight="9"] .resource-title:after,
[data-weight="15"] .resource-title:after,
[data-weight="21"] .resource-title:after {
  background-image: linear-gradient(to bottom, rgba(0, 131, 103, 0.8), rgba(0, 131, 103, 0.1));
}

/* The gradient behind the titles on individual resource landing pages */
.resource-weight-4 + #block-lai-page-title:after {
  background-image: linear-gradient(-45deg, #0096d6, rgba(0, 150, 214, 0.1));
}

/* The gradients at the sides of each "bucket" on the homepage */
[data-weight="4"] .resource-title:before,
[data-weight="10"] .resource-title:before,
[data-weight="16"] .resource-title:before,
[data-weight="22"] .resource-title:before {
  background-image: linear-gradient(to top, rgba(0, 150, 214, 0.8), rgba(0, 150, 214, 0.1));
}

[data-weight="4"] .resource-title:after,
[data-weight="10"] .resource-title:after,
[data-weight="16"] .resource-title:after,
[data-weight="22"] .resource-title:after {
  background-image: linear-gradient(to bottom, rgba(0, 150, 214, 0.8), rgba(0, 150, 214, 0.1));
}

/* The gradient behind the titles on individual resource landing pages */
.resource-weight-5 + #block-lai-page-title:after {
  background-image: linear-gradient(-45deg, #004065, rgba(0, 64, 101, 0.1));
}

/* The gradients at the sides of each "bucket" on the homepage */
[data-weight="5"] .resource-title:before,
[data-weight="11"] .resource-title:before,
[data-weight="17"] .resource-title:before,
[data-weight="23"] .resource-title:before {
  background-image: linear-gradient(to top, rgba(0, 64, 101, 0.8), rgba(0, 64, 101, 0.1));
}

[data-weight="5"] .resource-title:after,
[data-weight="11"] .resource-title:after,
[data-weight="17"] .resource-title:after,
[data-weight="23"] .resource-title:after {
  background-image: linear-gradient(to bottom, rgba(0, 64, 101, 0.8), rgba(0, 64, 101, 0.1));
}

/* The "resource-icon-block" class was added in the 'Resouce Icon' View, 
   implemented as a block in order to place the icon before the title in the DOM. */
.resource-icon-block {
  float: right;
  margin-right: 1.5em;
  margin-left: 2em;
  margin-bottom: 1em;
  margin-top: 1.5em;
  position: relative;
  z-index: 3;
}
@media screen and (min-width: 600px) {
  .resource-icon-block {
    margin-left: 4em;
  }
}
@media screen and (min-width: 1150px) {
  .resource-icon-block {
    margin-right: 1em;
    margin-left: 5em;
  }
}
.resource-icon-block svg {
  max-width: 35px;
  max-height: 35px;
}
@media screen and (min-width: 600px) {
  .resource-icon-block svg {
    max-width: 45px;
    max-height: 45px;
  }
}
@media screen and (min-width: 800px) {
  .resource-icon-block svg {
    max-width: 50px;
    max-height: 50px;
  }
}

/*# sourceMappingURL=resources.css.map */
