// ========== Global Mixins & Variables
@import "../utilities";

div.webform__webform div.form-item, form.contact-message-feedback-form div.form-item, form.user-login-form div.form-item {
  input:not([type="checkbox"]):not([type="radio"]), textarea, select {
    max-width: 100%;
    display: block;
    margin: 0 0 1em;
  }
  div[id] { /* A generalish selector for what at the moment is currently just the helper text for the 'Course' field on the 'Indicate Interest' form */
    margin: .25em 0;
  }
  @include mediaMin(600px) {
    &:not(.js-form-type-textarea) {
      display: table-row;
      label, input:not([type="checkbox"]):not([type="radio"]), select {
        display: table-cell;
        margin: .5em 0;
      }
      label {
        padding: .5em .5em 0 0;
      }
      div[id] { /* A generalish selector for what at the moment is currently just the helper text for the 'Course' field on the 'Indicate Interest' form */
        max-width: 450px;
      }
    }
  }
}
