{#
/**
 * Maxs: Adding .mainWrapper since our base GW Editorial CSS was looking for it but not finding it.
 *       Adding .container to .mainWrapper since the subsequent bootstrap .row class seems to be assuming that for a parent for padding issues.
 */
#}
	  {% if page.header|render %}
          {{ page.header }}
      {% endif %}

	   {% if page.front_page_hero|render %}
	   		{{ page.front_page_hero }}
		{% endif %}

			<div id="main-content" class="container">
                          <div class="mainWrapper container">
				<div class="row">
					<div class="col-sm-12">
						{{ page.content }}
					</div>
				</div>
                          </div>
			</div>

	  {% if page.footer|render %}
          {{ page.footer }}
      {% endif %}
