@import url("gweverything.css");
@import url("nice_menus.css");
@import url("gwu-proto-nice-menu.css");

// ========== Global Mixins & Variables
@import "../utilities";


/* =========== GW Page Layout =========== */

#skip-link {
  z-index: 3;
  position: relative;
}

/* =========== GW Header =========== */

$headerHeight: 132;
$headerImgHeight: 90;

#header #header-wrapper, #header #header-wrapper .gwlogo {

  display: none;

  img {
    width: auto;
  }

  @include mediaMin(600px) {
    display: block;
    position: relative;
    height: #{$headerHeight * .5}px;
    img {
      height: #{$headerImgHeight * .5}px;
    }
  }
  @include mediaMin(750px) {
    height: #{$headerHeight * .75}px;
    img {
      height: #{$headerImgHeight * .75}px;
    }
  }
  @include mediaMin(900px) {
    height: #{$headerHeight}px;
    img {
      height: #{$headerImgHeight}px;
    }
  }

  & > a {
    display: inline-block;
    line-height: 1%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  #division-of {

    display: none;

    @include mediaMin(900px) {
      display: block;
      position: absolute;
      left: 125px;
      bottom: 1em;
      white-space: nowrap;
    }

  }

}

/* =========== GW Nav Bar =========== */

.mean-nav ul.nice-menu li::before {
  display: none;
}

#navigation-mobile, #nav-bar.sticky {
  position: fixed;
}

ul.nice-menu .menu__link {
  color: #fefefe;
  text-decoration: none;
  display: inline-block;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 1rem;
  padding: 0 0.75rem;
  &:focus {
    outline-offset: -2px;
    & + ul {
      visibility: visible;
    }
  }
}
span.menu__link {
  cursor: default;
}

/* =========== GW Buttons ========== */

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  margin: 0;
}
