@import url("gweverything.css");
@import url("nice_menus.css");
@import url("gwu-proto-nice-menu.css");

// ========== Global Mixins & Variables
@import "../utilities";


/* =========== GW Page Layout =========== */

#skip p {
  margin: 0;
}

/* =========== GW Header =========== */

$headerHeight: 132;
$headerImgHeight: 90;

#header #header-wrapper, #header #header-wrapper .gwlogo {

  display: none;

  img {
    width: auto;
  }

  @include mediaMin(600px) {
    display: block;
    position: relative;
    height: #{$headerHeight * .5}px;
    img {
      height: #{$headerImgHeight * .5}px;
    }
  }
  @include mediaMin(750px) {
    height: #{$headerHeight * .75}px;
    img {
      height: #{$headerImgHeight * .75}px;
    }
  }
  @include mediaMin(900px) {
    height: #{$headerHeight}px;
    img {
      height: #{$headerImgHeight}px;
    }
  }

  & > a {
    display: inline-block;
    line-height: 1%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  #division-of {

    display: none;

    @include mediaMin(900px) {
      display: block;
      position: absolute;
      left: 125px;
      bottom: 1em;
      white-space: nowrap;
    }

  }

}

/* =========== GW Nav Bar and Hamburger Menu =========== */

#nav-bar.sticky {
  position: fixed;
  z-index: 10;
}

/* Replicate link styling for cases where it might just a <span> (misnomered .menu__link)
   for cases where we want top-level menu items that are just text instead of pointers to pages, as originally desired */
ul.nice-menu .menu__link {
  color: #fefefe;
  text-decoration: none;
  display: inline-block;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 1rem;
  padding: 0 0.75rem;
  white-space: nowrap;
  &:focus {
    outline-offset: -2px;
    & + ul {
      visibility: visible;
    }
  }
}
span.menu__link {
  cursor: default;
}

/* Since our implementation will likely make the menu non-fixed, remove the z-index that was overlapping the Drupal toolbar */
.mean-container .mean-bar {
  z-index: auto;
}

/* Forcing no line breaks makes less sense in mobile menu (overrides above) */
.mean-nav ul.nice-menu a {
  white-space: normal;
}

/* Overriding some stuff caused by our custom/hackish menu implementation not removing the .nice-menu class apparently */
ul.nice-menu a.mean-expand {
  padding: 0;
}
.mean-nav ul.nice-menu li::before {
  display: none;
}

/* Padding makes more sense than text-indent for our menu items that end up wrapping lines when small enough */
.mean-container .mean-nav ul li {
  a {
    text-indent: 0;
  }
  ul li a {
    text-indent: 0;
    padding-left: 1.5rem;
  }
}

/* The hamburger menu's label ("MENU") wasn't originally conceived for possibly including links, 
   but since we've customized it to make that text configurable, improve styling of any links in there */
#mobile-menu-label {
  a, a:focus, a:hover {
    color: #fff;
  }
}

/* =========== GW Buttons ========== */

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  margin: 0;
}
