@import url("gweverything.css");
@import url("nice_menus.css");
@import url("gwu-proto-nice-menu.css");
/* =========== GW Page Layout =========== */
/* Not quite an override ... just that #skip-link is now #skip */
#skip p {
  margin: 0;
}

/* I don't know why this has a 'margin-bottom: -78px' in Editorial, but it's messing us up because we don't have the same structure that undoes that effect. */
#gwtoday-local-footer {
  margin-bottom: 0;
}

/* The following is to prevent covering up of a header or text part-way down the page that has been linked to with via a hash (#).
   The 48px (blue navbar), 39px (first level of Drupal admin toolbar) and 79px (both levels of Drupal admin toolbar) are
   perhaps subject to change, but this at least is a relatively simple non-JS solution for now. */
.block-lai-content *:target:before {
  display: block;
  content: " ";
  visibility: hidden;
  position: relative;
  z-indxex: -1;
  margin-top: -48px;
  height: 48px;
}
body.toolbar-fixed.toolbar-vertical .block-lai-content *:target:before, body.toolbar-fixed:not(.toolbar-tray-open) .block-lai-content *:target:before {
  margin-top: -87px;
  height: 87px;
}
body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .block-lai-content *:target:before {
  margin-top: -127px;
  height: 127px;
}

/* No idea why gweverything.css has these displaying as table-cell, but it's causing odd-looking lists in some circumstances. */
.container ul, .container ol {
  display: block;
}

/* =========== GW Header =========== */
#header #header-wrapper, #header #header-wrapper .gwlogo {
  display: none;
}
#header #header-wrapper img, #header #header-wrapper .gwlogo img {
  width: auto;
}
@media screen and (min-width: 600px) {
  #header #header-wrapper, #header #header-wrapper .gwlogo {
    display: block;
    position: relative;
    height: 66px;
  }
  #header #header-wrapper img, #header #header-wrapper .gwlogo img {
    height: 45px;
  }
}
@media screen and (min-width: 750px) {
  #header #header-wrapper, #header #header-wrapper .gwlogo {
    height: 99px;
  }
  #header #header-wrapper img, #header #header-wrapper .gwlogo img {
    height: 67.5px;
  }
}
@media screen and (min-width: 900px) {
  #header #header-wrapper, #header #header-wrapper .gwlogo {
    height: 132px;
  }
  #header #header-wrapper img, #header #header-wrapper .gwlogo img {
    height: 90px;
  }
}
#header #header-wrapper > a, #header #header-wrapper .gwlogo > a {
  display: inline-block;
  line-height: 1%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#header #header-wrapper #division-of, #header #header-wrapper .gwlogo #division-of {
  display: none;
}
@media screen and (min-width: 900px) {
  #header #header-wrapper #division-of, #header #header-wrapper .gwlogo #division-of {
    display: block;
    position: absolute;
    left: 125px;
    bottom: 1em;
    white-space: nowrap;
  }
}

/* =========== GW Nav Bar and Hamburger Menu =========== */
#nav-bar.sticky {
  position: fixed;
  z-index: 10;
}

/* Replicate link styling for cases where it might just a <span> (misnomered .menu__link)
   for cases where we want top-level menu items that are just text instead of pointers to pages, as originally desired */
ul.nice-menu .menu__link {
  color: #fefefe;
  text-decoration: none;
  display: inline-block;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 1rem;
  padding: 0 0.75rem;
  white-space: nowrap;
}
ul.nice-menu .menu__link:focus {
  outline-offset: -2px;
}
ul.nice-menu .menu__link:focus + ul {
  visibility: visible;
}

span.menu__link {
  cursor: default;
}

/* At least for now, have 3rd-level flyout menus show up in the blue navbar when hovering them.  This is a stop-gap measure
   while working on getting a solution where these 3rd-level items get added to a left-hand sidebar within the related pages.  */
ul.nice-menu-down li ul li:hover ul {
  visibility: visible;
}
ul.nice-menu-down li ul li ul {
  left: 100%;
}

/* Avoid the problem of the last submenu's contents from going off-screen when open or causing a mysterious horizontal scrollbar when closed by right-aligning it to the parent. */
ul.nice-menu-down li:last-child ul, ul.nice-menu li:last-child ul {
  left: auto;
  right: 1px;
}

/* Since our implementation will likely make the menu non-fixed, remove the z-index that was overlapping the Drupal toolbar */
.mean-container .mean-bar {
  z-index: auto;
}

/* Forcing no line breaks makes less sense in mobile menu (overrides above) */
.mean-nav ul.nice-menu a {
  white-space: normal;
}

/* Overriding some stuff caused by our custom/hackish menu implementation not removing the .nice-menu class apparently */
ul.nice-menu a.mean-expand {
  padding: 0;
}

.mean-nav ul.nice-menu li::before {
  display: none;
}

/* Padding makes more sense than text-indent for our menu items that end up wrapping lines when small enough */
.mean-container .mean-nav ul li a {
  text-indent: 0;
}
.mean-container .mean-nav ul li ul li a {
  text-indent: 0;
  padding-left: 1.5rem;
}

/* The hamburger menu's label ("MENU") wasn't originally conceived for possibly including links, 
   but since we've customized it to make that text configurable, improve styling of any links in there */
#mobile-menu-label a, #mobile-menu-label a:focus, #mobile-menu-label a:hover {
  color: #fff;
}

/* =========== GW Headers ========== */
/* Some more mobile-friendly header sizes */
h1 {
  font-size: 2.5em;
}
@media screen and (min-width: 500px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-size: 1.8em;
}
@media screen and (min-width: 500px) {
  h2 {
    font-size: 2.25em;
  }
}

h3 {
  font-size: 1.45em;
}
@media screen and (min-width: 500px) {
  h3 {
    font-size: 1.75em;
  }
}

h4 {
  font-size: 1.2em;
}
@media screen and (min-width: 500px) {
  h4 {
    font-size: 1.25em;
  }
}

/* =========== GW Buttons ========== */
button, html input[type=button], input[type=reset], input[type=submit] {
  margin: 0;
}

/* =========== GW Webforms ========== */
/* The bright red text for required form fields is so jarring. Here's an alternative. */
.form-required {
  color: inherit;
  position: relative;
}
.form-required:before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: #c00;
  margin-right: 0.4em;
  vertical-align: 0.25em;
}
.form-required:hover:after {
  content: "This field is required";
  display: block;
  position: absolute;
  left: 90%;
  bottom: 80%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.5em;
  white-space: nowrap;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=gwoverrides.css.map */
